streamlit
streamlit-chat
streamlit-extras
mysql-connector-python
openai>=1.58.1,<2.0.0
langchain>=0.3.0,<0.4.0
langchain-core>=0.3.0,<0.4.0
langchain-community>=0.3.0,<0.4.0
langchain-openai==0.3.0


